---
layout: layouts/home.njk
permalink: /404.html
---
<div class="brand-splash">
<h1>🤪 Something went wrong! 🤪</h1>
<p>Maybe it's transient, maybe it's permanent.</p>
<p>It might not be your fault, but it's definitely your problem.</p>
</div>