---
layout: layouts/home.njk
---
<div class="brand-splash">
<p>The experience is…</p>
<h1>Better in the App</h1>
<h2>The first web framework that puts the web <em>second</em></h2>
</div>
<div class="features">
    <div>
        Can't choose between <span class="pkg">underscore</span> and <span class="pkg">lodash</span>?
        Don't.
        We've got both, ready to go.
    </div>
    <div>
        <span class="pkg">core-js</span>? Give-me-more-js!
        <p>We've got polyfills going to all the way back to whatever Moses carried down Mount Sinai. Our framework could render on a Commodore 64.</p>
        <p>(if it had 32 gigs of RAM)</o>
</div>