body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.brand-splash {
    padding: 3em;
    background-color: #ff66ff;
    margin: auto;
    text-align: center;
}

em {
    color: gray;
    font-style: normal;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 4em;
}

.features > div {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1em;
}

.pkg {
    font-family: 'Courier New', Courier, monospace;
}